*{
    margin:0;
}
body{
    background-color:#010101;
}
.intro p{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight:100;
    color:#FFFFFF; 
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; 
}
.intro h1{
    font-family: 'Roboto', sans-serif;    
    font-size: 36pt;
    font-weight:900;
    color:#D6B94B;   
    padding-left: 75px;
    padding-right: 75px;
    text-align: center; 
}
.gray img{
    position: absolute;
    width: 100%;
    height: 200%;
    z-index: -1;
}
.shop{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.shop2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.greenshop img{
    width: 75%;
    padding-top: 50px;
}
.blueshop img{
    width: 75%;
    padding-top: 50px;
}
.redshop img{
    width: 75%;
    padding-top: 50px;
}
.pinkshop img{
    width: 75%;
    padding-top: 50px;
}
.purpleshop img{
    width: 75%;
    padding-top: 50px;
}
.orangeshop img{
    width: 75%;
    padding-top: 50px;
}
img{
    width:100%;
}

.money img:hover{
    animation: shake 0.5s;
    animation-iteration-count:infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
